Repository Maua-Dev/System_Maua_Front, pull requests merged in 2021-08, with the labels that each got.

#37 Bug fix calendario
  lib/app/modules/calendario/calendario_controller.dart
  test/app/modules/calendario/calendario_controller_test.dart
Labels: bug

#46 Bug fix da tela de notas
  lib/app/modules/activities/activities_page.dart
  lib/app/modules/notas-aluno/widgets/grid_avaliacao_widget.dart
  lib/app/shared/components/activity_card/activity_card_widget.dart
  lib/app/shared/components/progress_indicator/progress_indicator_widget.dart
  lib/shared/components/app_bar/app_bar_widget.dart
  pubspec.lock
Labels: bug/problems, App Notas

#47 Tela Matérias - Geral
  lib/app/modules/home-aluno/home_aluno_page.dart
  lib/app/modules/home-aluno/widgets/app_bar_home_widget.dart
  lib/app/modules/landing/landing_module.dart
  lib/app/modules/materias/materias_controller.dart
  lib/app/modules/materias/materias_controller.g.dart
  lib/app/modules/materias/materias_module.dart
  lib/app/modules/materias/materias_page.dart
  lib/app/modules/materias/models/materias_model.dart
  lib/app/modules/materias/models/professores_model.dart
  lib/app/modules/materias/repositories/materias_repository.dart
  lib/app/modules/materias/repositories/materias_repository_interface.dart
  lib/app/modules/materias/widgets/grid_fotos_professores.dart
  lib/app/modules/materias/widgets/materia_card_widget.dart
  lib/app/shared/components/bottom_navigation_bar/widgets/bottom_navigation_bar_widget.dart
  lib/app/shared/enumerates/tipo_materia_enum.dart
  test/app/modules/materias/materias_controller_test.dart
  test/app/modules/materias/materias_controller_test.mocks.dart
  test/app/modules/materias/materias_module_test.dart
  test/app/modules/materias/materias_repository_mock_test.dart
Labels: enhancement, App Matérias

#49 Tela de Help-Bolsas
  lib/app/app_module.dart
  lib/app/modules/help-aluno/enumerates/help_enum.dart
  lib/app/modules/help-bolsas/enumerate/requerimento_enum.dart
  lib/app/modules/help-bolsas/help_bolsas_controller.dart
  lib/app/modules/help-bolsas/help_bolsas_controller.g.dart
  lib/app/modules/help-bolsas/help_bolsas_module.dart
  lib/app/modules/help-bolsas/help_bolsas_page.dart
  lib/app/modules/landing/landing_module.dart
  pubspec.lock
  test/app/modules/help-bolsas/help_bolsas_controller_test.dart
  test/app/modules/help-bolsas/help_bolsas_module_test.dart
Labels: enhancement, App Help

#52 Tela Help-Intercâmbio #35
  lib/app/modules/help-aluno/enumerates/help_enum.dart
  lib/app/modules/help-intercambio/enumarates/intercambio_enum.dart
  lib/app/modules/help-intercambio/help_intercambio_module.dart
  lib/app/modules/help-intercambio/help_intercambio_page.dart
  lib/app/modules/help-intercambio/widgets/intercambio_card.dart
  lib/app/modules/landing/landing_module.dart
Labels: enhancement, App Help

#54 Melhoria da modularização - Help
  lib/app/modules/help-aluno/help_aluno_module.dart
  lib/app/modules/help-avisos/help_avisos_module.dart
  lib/app/modules/help-avisos/repositories/help_avisos_repository_interface.dart
  lib/app/modules/help-bolsas/help_bolsas_module.dart
  lib/app/modules/help-intercambio/help_intercambio_module.dart
  lib/app/modules/help/enumerates/help_enum.dart
  lib/app/modules/help/help_module.dart
  lib/app/modules/help/help_page.dart
  lib/app/modules/help/pages/help-avisos/help_avisos_controller.dart
  lib/app/modules/help/pages/help-avisos/help_avisos_controller.g.dart
  lib/app/modules/help/pages/help-avisos/help_avisos_page.dart
  lib/app/modules/help/pages/help-avisos/models/avisos_model.dart
  lib/app/modules/help/pages/help-avisos/models/avisos_panel_model.dart
  lib/app/modules/help/pages/help-avisos/repositories/help_avisos_repository.dart
  lib/app/modules/help/pages/help-avisos/repositories/help_avisos_repository_interface.dart
  lib/app/modules/help/pages/help-avisos/widgets/avisos_widget.dart
  lib/app/modules/help/pages/help-bolsas/enumerate/requerimento_enum.dart
  lib/app/modules/help/pages/help-bolsas/help_bolsas_controller.dart
  lib/app/modules/help/pages/help-bolsas/help_bolsas_controller.g.dart
  lib/app/modules/help/pages/help-bolsas/help_bolsas_page.dart
  lib/app/modules/help/pages/help-intercambio/enumarates/intercambio_enum.dart
  lib/app/modules/help/pages/help-intercambio/help_intercambio_page.dart
  lib/app/modules/help/pages/help-intercambio/widgets/intercambio_card.dart
  lib/app/modules/help/widgets/help_card.dart
  lib/app/modules/landing/landing_module.dart
  pubspec.lock
  test/app/modules/help-avisos/help_avisos_module_test.dart
  test/app/modules/help-bolsas/help_bolsas_module_test.dart
  test/app/modules/help/help-avisos/help_avisos_controller_test.dart
  test/app/modules/help/help-avisos/help_avisos_controller_test.mocks.dart
  test/app/modules/help/help-avisos/help_avisos_repository_mock_test.dart
  test/app/modules/help/help-bolsas/help_bolsas_controller_test.dart
  test/app/modules/help/help_module_test.dart
Labels: bug/problems

#38 Tela Login
  android/.project
  android/.settings/org.eclipse.buildship.core.prefs
  android/app/.classpath
  android/app/.project
  android/app/.settings/org.eclipse.buildship.core.prefs
  lib/app/app_module.dart
  lib/app/modules/auth/auth_controller.dart
  lib/app/modules/auth/auth_guard.dart
  lib/app/modules/auth/auth_module.dart
  lib/app/modules/auth/errors/errors.dart
  lib/app/modules/auth/repositories/auth_repository_interface.dart
  lib/app/modules/auth/repositories/auth_repository_mock.dart
  lib/app/modules/auth/repositories/secure_storage.dart
  lib/app/modules/auth/repositories/secure_storage_interface.dart
  lib/app/modules/login/login_controller.dart
  lib/app/modules/login/login_controller.g.dart
  lib/app/modules/login/login_module.dart
  lib/app/modules/login/login_page.dart
  lib/app/modules/login/models/user_login_model.dart
  lib/app/modules/login/widgets/EntrarButtonWidget.dart
  lib/app/modules/login/widgets/checkBoxWidget.dart
  pubspec.lock
  pubspec.yaml
  test/app/app_module_test.dart
  test/app/modules/auth/auth_controller_test.dart
  test/app/modules/auth/auth_controller_test.mocks.dart
  test/app/modules/login/login_controller_test.dart
  test/app/modules/login/login_controller_test.mocks.dart
  test/app/modules/login/login_module_test.dart
Labels: enhancement

#60 finalização do icon button para troca da visibilidade da senha e unit test
  lib/app/modules/login/login_controller.dart
  lib/app/modules/login/login_controller.g.dart
  lib/app/modules/login/login_page.dart
  test/app/modules/login/login_controller_test.dart
Labels: bug/fix
